/* color theme */
:root{
    --first-bgc:        #f5f5f5;
    --second-bgc:       #ffffff;
    --third-bgc:        #d6d6d7;
    --third-bgc-hover:  #bdbdbd;
    --fourth-bgc:       rgb(81, 92, 216);
    --fourth-bgc-hover: rgb(64, 74, 179);
    --fifth-bgc:        #eaf1fd;
    --first-c:          #3d3d3d;
    --card-border:      rgba(23, 23, 23, 0.2);
    --card-border-focus:rgb(59, 73, 223);
    --alert-border-focus:#f15f5f;
    --scrollbar-bgc:	#d6d6d6;
	--scrollbar-c:		#888888;

    --border-radius-s: 4px;
    --border-radius-m: 9px;

    --transition-time: .3s;
}

/* fonts */
@font-face {
    font-family: Fira;
      src: url("../fonts/FiraCode.ttf");
}

@font-face {
    font-family: AzeretMono;
      src: url("../fonts/AzeretMono.ttf");
}

/* scrollbar style */
*::-webkit-scrollbar{
	width:7px;
    height: 7px;
	background-color:var(--scrollbar-bgc);
    border-radius: var(--border-radius-s);
}
*::-webkit-scrollbar-track{
	border-radius:7px;
	background-color:var(--scrollbar-bgc);
}
*::-webkit-scrollbar-thumb{
	border-radius:7px;
	background-color:var(--scrollbar-c);
}

/* global style */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--first-bgc);
    font-size: 1em;
    color: var(--first-c);
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

input:focus, textarea:focus{
    outline: none;
}

.s-fl{
    float: left;
}

.s-fr{
    float: right;
}

.s-clear{
    clear: both;
}

.main{
    max-width: 1150px;
    min-width: 900px;
    margin: 100px auto;
}

.alert-mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.alert-main{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: var(--border-radius-m);
    box-shadow: 0px 2px 4px 1px var(--card-border);
    padding: 0px 25px ;
}

.alert-head{
    font-family: 'Fira';
    font-size: 1.2em;
    text-align: center;
    margin: 20px auto;
}

.alert-content{
    font-family: 'AzeretMono';
    font-size: 0.9em;
    margin: 20px auto;
    text-align: center;
}

.alert-ok{
    margin: 20px auto;
    width: 80%;
}

.d-main{
    width: 20%;
    float: left;
    margin: auto;
}

.d1-intro{
    background-color: var(--second-bgc);
    border-radius: var(--border-radius-m);
    margin: auto;
}

.s-main{
    width: 75%;
    margin-right: 5%;
    float: left;
}

.s-card{
    box-shadow: 0px 2px 4px 1px var(--card-border);
    transition: all var(--transition-time);
    background-color: var(--second-bgc);
    padding: 23px 40px;
}

.s-card:hover{
    box-shadow:  0 0 1px 2px var(--card-border-focus);
}

.s-head{
    font-family: 'Fira';
    font-size: 1.2em;
    text-align: center;
}

.s-upload{
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.s-button{
    display: inline-block;
    position: relative;
    padding: 8px 16px;
    border: none;
    background-color: var(--third-bgc);
    border-radius: var(--border-radius-s);
    transition: all var(--transition-time);
    color: var(--first-c);
    font-family: 'Fira';
    margin-right: 8px;
    cursor: pointer;
    min-width: 80px;
}

.s-button:hover{
    background-color: var(--third-bgc-hover);
}

.s-blue{
    color: var(--second-bgc);
    background-color: var(--fourth-bgc);
}

.s-blue:hover{
    background-color: var(--fourth-bgc-hover);
}

.s-table{
    background-color: var(--fifth-bgc);
    width: 90%;
    font-family: 'AzeretMono';
    font-size: 0.9em;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}

.s-table th{
    padding: 10px;
}

.s1-input{
    border-radius: var(--border-radius-m);
    margin: auto;
}

.s1-input .input-box{
    margin: 20px auto;
    padding: 1px;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: var(--fifth-bgc);
}

.input-box-inner{
    box-sizing: border-box;
    width: 100%;
    border: none;
    resize: none;
    height: 150px;
    padding: 10px 20px;
    transition: height var(--transition-time);
    font-family: 'AzeretMono';
    font-size: 0.85em;
    line-height: 1.5em;
    background-color: var(--fifth-bgc);
}

.input-box-inner:focus{
    height: 250px;
}

.s1-split{
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 300px -30px;
    height: 85px;
    display: none;
}

.s2-lexical{
    border-radius: var(--border-radius-m);
    margin: auto;
    display: none;
}

.s2-table-box{
    background-color: var(--fifth-bgc);
    padding: 20px;
    margin: 20px auto;
    border-radius: var(--border-radius-s);
    max-height: 300px;
    overflow: auto;
}

.s2-split{
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 450px -30px;
    height: 85px;
    display: none;
}